package components

templ Nav() {
	<nav>
		// use fx attribute for fixed positioning
		<label>
			<input type="checkbox"/>
			<header>
				<a href="/">GoFLashcards</a>
			</header>
			<ul>
				<li><a href="/feedback">Give feedback</a></li>
				<li><a href="/my">My flashcards</a></li>
			</ul>
		</label>
	</nav>
}
