package layouts

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Go Flashcards</title>
			<link href="static/bare.min.css" rel="stylesheet"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
